# Python
__pycache__/
*.py[cod]
*.pyo

# Databases
*.db
*.sqlite
*.sqlite3

# Virtual Environments
venv/
.venv/
.env/

# Environment secrets
.env
.env.*
!.env.example

# VS Code
.vscode/

# Logs
*.log
logs/

# OS Files
Thumbs.db
.DS_Store

# Node / Frontend
node_modules/
dist/
build/
coverage/
frontend/dist/
frontend/build/
